
#side{
  height: auto;
  width: 20%;
  background-color: #2C3E50;
  float : left;
  height: 100%;
  position: fixed;
}

#side .title{
  background-color: #2C3E50;
  padding: 18px 0 18px 0;
  position: relative;
  height: auto;
  width: auto;
}
#side .title h1{
  text-align: center;
  color : #fff;
  font-family: monospace;
}

#side .profile {
  width: 100%;
  background-color: #55925A;
  position: relative;
  padding: 12px 0 12px 0;
  text-align: center;
  vertical-align: middle;
}

#side .profile a{
  color: #FFF;
  font-family: monospace;
  font-size: 18px;
}
#side .profile .foto{
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-position: 50% 10%;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

#side .navigation{
  margin-top: 0;
}
#side .navigation ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#side .navigation li {
  font-size: 24px;
  padding-top: 24px;
  font-family: cursive;
  outline: 0px;
  border-bottom: 1px solid #000;
}

#side .navigation li a{
  padding-left: 24px;
  display: block;
  text-decoration: none;
  color: #ecf0f1;
  font-family: Tahoma;
  font-weight: bold;
  text-shadow: 0px 2px 2px #515151;
}

#header{
  background-color: #55925A;
  position: relative;
  color: #fff;
  width: 80%;
  float: right;
}
#header .foto{
  background-size: 100px;
  background-repeat: no-repeat;
  width: auto;
  height: 100px;
  float: left;
  position: relative;
}
#header h2{
  float: left;
  padding-left: 18px;
  font-family: sans-serif;
  font-size: 24px;
  margin-left: 100px;
  margin-top: 30px;
}

#container-content{
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
}
#container-content .judul{
  position: relative;
  float: right;
  width: 80%;
  background-color: #6AC971;
}
#container-content .content{
  position: relative;
  float: right;
  width: 80%;
  border-top: 3px solid #5a5a5a;
  background-color: #f3f3f3;
}
#container-content h4{
  font-size: 18px;
  font-family: Tahoma;
  color: #515151;
  padding: 0 0 0 8px;
}
#container-content p{
  padding: 0 24px 0 24px;
  font-family: Tahoma;
  font-size: 18px;
  color: #515151;
}
#side .aktif{
  border-top: 3px solid #f3f3f3;
  border-left: 3px solid #f3f3f3;
  background-color: #87D37C;
}

#container-content .imagePost{
  margin: 10px;
  width: auto;
  max-width: 150px;
  height: auto;
  float: left;
  position: relative;
}
